body{
    height: min-content;
}
.container-fluid{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image:url(photo_2019-12-12_11-39-29.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-recherche{
    width: 100;
    max-width: 700px;
    background: rgba(255,255,255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 2px 20px;
}
.bar-recherche input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
    color: #cac7ff;
}
::placeholder{
    color: snow;
}
.bar-recherche button img{
    width: 40px;
}
.bar-recherche button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background:#828bb8;
    cursor: pointer;
}
.bar-recherche img{
    border-radius: 50%;
}
